.map_component {
    /* Map component */
    position: absolute;
    width: 1510px;
    height: 1272px;
    left: 0px;
    top: 326px;
}

.group_39594 {
    /* Group 39594 */
    position: absolute;
    left: 3.23%;
    right: 93.99%;
    top: 89.54%;
    bottom: 4.09%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.group_39662 {
    /* Group 39662 */
    position: absolute;
    left: 0%;
    right: -0.19%;
    top: -0.16%;
    bottom: 12.16%;
    background-color: #8AB4F8;
}

.map {
    position: absolute;
    left: 16.94%;
    right: 16.74%;
    top: 4.48%;
    bottom: 4.76%;
}

.group27 {
    /* Group 27 */
    position: absolute;
    left: 43.96%;
    right: 54.23%;
    top: 46.38%;
    bottom: 49.92%;

}

.group27 {
    /* Group 27 */
    position: absolute;
    left: 43.96%;
    right: 54.23%;
    top: 46.38%;
    bottom: 49.92%;

}

.group28 {
    /* Group 28 */
    position: absolute;
    left: 33.29%;
    right: 64.9%;
    top: 66.12%;
    bottom: 30.19%;
}

.group29 {
    /* Group 25 */
    position: absolute;
    left: 20.04%;
    right: 78.15%;
    top: 48.9%;
    bottom: 47.41%;
}

.group_39664 {
    position: absolute;
    width: 342px;
    height: 120px;
    left: 341px;
    top: 800px;
}

.group_39664_view_now {
    /* View now > */


    /* position: absolute; */
    width: 114px;
    height: 23px;
    /* left: 459px;
    top: 1300px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    margin-left : 118px;
    margin-top : 16px;

    text-decoration-line: underline;

    /* Maroon */

    color: #5F0409;
    cursor: pointer;
}

.group_39621 {
    /* Group 39621 */
    position: absolute;
    width: 342px;
    height: 120px;
    left: 341px;
    top: 1219px;
}

.group_39596 {
    /* Group 39596 */
    /* position: absolute; */
    width: 187px;
    height: 48px;
    /* left: 459px;
    top: 1235px; */

}

.rect_4528 {
    /* Rectangle 4528 */
    /* position: absolute; */
    width: 86px;
    height: 88px;
    /* left: 357px;
    top: 1235px; */
    margin: 16px;
    margin-right: 0px;
    background-image: url("../../assets/images/site.jpeg");
    border-radius: 10px;
    /* background-size: 120px; */
    background-size: cover;

}

.rect_4527 {
    /* Rectangle 4527 */
    /* position: absolute; */
    width: 342px;
    height: 120px;
    /* left: 341px;
    top: 798px; */

    /* Off yellow */

    background: #FFF2D8;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.group_39596_text {
    /* Someshwar temple */
    /* position: absolute; */
    width: 187px;
    height: 20px;
    margin-left : 118px;
    margin-top : 16px;
    /* left: 459px;
    top: 1235px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */
    /* Maroon */
    color: #5F0409;
}

.group_39596_text2 {
    /* Gujarat */


    /* position: absolute; */
    width: 63px;
    height: 18px;
    /* left: 260px;
    top: 1044px; */
    margin-top : 10px;
    margin-left : 118px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    /* Maroon */

    color: #5F0409;
}


.group_39697 {
    position: absolute;
    width: 342px;
    height: 120px;
    left: 41px;
    top: 620px;
}

.group_39698 {
    position: absolute;
    width: 342px;
    height: 120px;
    left: 641px;
    top: 575px;
}