
@font-face {
  font-family: "ElMessiriRegular";
  src: local("ElMessiriRegular"),
   url("./assets/fonts/ElMessiri-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"),
   url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  color: #65050B;
  margin: 0;
  font-family: "DM Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

html {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%
}
